<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /antigo/

    # Se a requisição já é para a pasta public/, para o processamento
    RewriteRule ^public/ - [L]

    # Redireciona todas as requisições para a subpasta public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
