version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
      - "5173:5173"
    volumes:
      - F:\Projetos\4BTS\smart-app:/var/www/html
    depends_on:
      - mysql

  mysql:
    image: mysql:latest
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: apismart
      MYSQL_USER: apismart
      MYSQL_PASSWORD: casanova
    volumes:
      - mysql_data:/var/lib/mysql369

volumes:
  mysql_data:
