<!-- Botão que abre o modal -->
<a href="javascript:void(0)" [class]="btnClass" [class.disabled]="btnDisabled" (click)="openModal($event)">
    <ng-content select="[modal-button]"></ng-content>
</a>

<app-modal
    [show]="showModal"
    (close)="closeModal()"
    [title]="modalTitle"
    icon="fa-exclamation-triangle"
    [size]="contentBig ? 'lg' : 'md'">
    <div class="text-start py-2">
        <p class="mb-0">{{ message }}</p>
        <ng-content select="[modal-content]"></ng-content>
    </div>
    <div class="modal-footer px-0 pb-0 pt-3 d-flex justify-content-end gap-2 border-top">
        <button type="button" class="btn btn-secondary px-4 shadow-sm" (click)="closeModal()">{{ cancelButtonLabel }}</button>
        <button type="button" class="btn btn-primary px-4 shadow-sm" (click)="onConfirm()">
            {{ okButtonLabel }}
        </button>
    </div>
</app-modal>
