<div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100">
    <div>
        <a href="/">
            <img src="/logo.png" alt="SmartApp Logo" class="w-20 h-20 object-contain">
        </a>
    </div>

    <div class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
        

        <form (ngSubmit)="submit()">
            <div>
                <label for="email" class="block font-medium text-sm text-gray-700">Email</label>
                <input id="email" type="email" class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full" 
                    [(ngModel)]="form.email" name="email" required autofocus autocomplete="username">
                <div *ngIf="errors.email" class="mt-2 text-sm text-red-600">{{ errors.email[0] }}</div>
            </div>

            <div class="mt-4">
                <label for="password" class="block font-medium text-sm text-gray-700">Senha</label>
                <input id="password" type="password" class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full" 
                    [(ngModel)]="form.password" name="password" required autocomplete="current-password">
                <div *ngIf="errors.password" class="mt-2 text-sm text-red-600">{{ errors.password[0] }}</div>
            </div>

            <div class="block mt-4">
                <label class="flex items-center">
                    <input type="checkbox" name="remember" class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" [(ngModel)]="form.remember">
                    <span class="ml-2 text-sm text-gray-600">Lembrar de mim</span>
                </label>
            </div>

            <div class="flex items-center justify-end mt-4">
                <a href="/forgot-password" class="underline text-sm text-gray-600 hover:text-gray-900">
                    Esqueceu sua senha?
                </a>

                <button type="submit" class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150 ml-4" 
                    [ngClass]="{ 'opacity-25': processing }" [disabled]="processing">
                    Entrar
                </button>
            </div>
        </form>
    </div>
</div>
