/* Estilos para o Menu Sidebar SB Admin 2 */
:host {
    display: block;
}

.sidebar {
    min-height: 100vh;
    background-color: #f68b1e; /* Cor laranja aproximada da logo */
}

.sidebar-dark .sidebar-brand {
    color: #fff;
}

.sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 14rem;
}

.sidebar .nav-item .nav-link i {
    font-size: 0.85rem;
    margin-right: 0.25rem;
}

.sidebar .nav-item .nav-link span {
    font-size: 0.85rem;
}

.sidebar .nav-item .collapse {
    z-index: 1;
}

.sidebar .nav-item .collapse .collapse-inner {
    border-radius: 0.35rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    display: block;
    color: #3a3b45;
    text-decoration: none;
    border-radius: 0.35rem;
    white-space: nowrap;
    font-size: 0.85rem;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover {
    background-color: #eaecf4;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active {
    color: #f68b1e; /* Texto laranja no item ativo do submenu branco */
    font-weight: 700;
    background-color: #eaecf4;
}

.sidebar-dark .nav-item .nav-link[aria-expanded="true"] {
    color: #fff;
}

.sidebar-dark .nav-item .nav-link[aria-expanded="true"] i {
    color: #fff;
}
